@font-face {
  font-family: 'Chirp';
  src: url('/fonts/chirp/Chirp-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Chirp';
  src: url('/fonts/chirp/Chirp-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Chirp';
  src: url('/fonts/chirp/Chirp-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Chirp';
  src: url('/fonts/chirp/Chirp-Heavy.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}